.menu {
    width: 200px;
}

.menu > div {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    font-size: 1.2em;
}

.menu div:hover {
    background-color: #ffc;
    cursor: pointer;
}

.hidden {
    display: none;
}

#input-box{
    font-size: .8em;
}

.input-js {
    width: 150px;
}

#save {
    border-radius: 25px;
    background: #8AC007;
    padding: 2px;
    width: 50px;
    height: 15px;
    text-align: center;
    float: right;
}
